apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  name: peanuts-app-base

labels:
  - pairs:
      app.kubernetes.io/managed-by: kustomize
      app.kubernetes.io/part-of: peanuts
    includeSelectors: false

resources:
  - serviceaccount.yaml
  - configmap.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml
  - hpa.yaml
  - pdb.yaml
